@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  @apply text-emerald-500 hover:text-emerald-300;
}

article.markdown {
  @apply my-8 max-w-4xl mx-auto prose prose-invert prose-zinc;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-emerald-500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
